.mostrar {
    display: block;
    opacity: 1;
    background: rgba(39, 39, 39, 0.705);
    padding: 5%;
  }
  
  .modal-lg {
    max-width: 500px;
  }
  
  .close {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    opacity: 1;
    background: none;
    border: none;
    /* border-radius: 50%; */
  }
  
  .close:hover {
    color: white;
    opacity: 0.75;
  }